.didact-gothic-regular {
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #666666 !important;
}

.container {
    background-color: #e4e4e4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: #666666 !important;
}

h1{
    padding-top: 1%;
    font-weight: bold;
}

label{
    font-weight: bold;
}

footer{
    padding-bottom: 2%;
}

.form-group:hover{
    border-color: #ff8300;
}

.form-control:focus{
    outline: none;
    border-color: #ff8300;
    box-shadow: 0 0 0 0.2rem #ff8300;
}

button.btn {
    width: 100%;
    background-color: #ff8300 !important;
    border-color: #ff8300 !important;
    font-weight: bold;
}

button.btn:hover{
    width: 100%;
    background-color: #fc4e22 !important;
    border-color: #fc4e22 !important;
}
button.btn:focus{
    box-shadow: none;
}

/* Cambiar el color cuando pasas el ratón por encima de una opción */
select option:hover{
    background-color: #ff8300 !important; /* Fondo al pasar el ratón */
    color: white !important; /* Texto al pasar el ratón */
    scrollbar-color: #ff8300;
}
select option:focus{
    background-color: #ff8300 !important; /* Fondo al pasar el ratón */
    color: white !important; /* Texto al pasar el ratón */
}

/* Cambiar el color de la opción seleccionada */
select option:checked {
    background-color: #ff8300 !important; /* Fondo de la opción seleccionada */
    color: white !important; /* Texto de la opción seleccionada */
}

#confirmationMessage {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #fc4e22;
}
#validationMessage {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #fc4e22;
}
#loadingMessage {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #fc4e22;
}

a{
    color: #666666;
}
a:hover{
    color: #666666 !important;
}

img{
    max-width: 200px;
    padding-top: 1%;
}

.invalid-feedback {
    display: none;
}
